version: "3.9"

services:
  frontend:
    build: .
    container_name: react-vite-app
    ports:
      - "3000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
